* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  cursor: none;
}

body {
  background-color: #f2e7e7;
  color: #282525;
}

.cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #242424;
  transition: all 0.3s ease-out;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
}
