@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "config";

// the header
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 15px;

  .container {
    @include display-flex($justify: space-between);

    .logo {
      text-transform: uppercase;
    }

    // nav
    .navigation {
      .link {
        text-transform: uppercase;
        margin: 0 20px;
        color: #141414;
      }
    }
    // account
    .account {
      .btn {
        border-radius: 2px;
        margin: 0 10px;

        &:last-child {
          margin-right: 0;
        }

        &#login {
          background-color: blue;
          color: #fff;
        }
        &#sign-up {
          background-color: black;
          color: #fff;
        }
      }
    }
  }
}

// the hero
.hero {
  padding: 200px 0;
  text-align: center;
  background-image: url("../img/jefferson-santos-9SoCnyQmkzI-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  h1 {
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #fff;
  }

  .btn {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    background-color: #fff;
    color: #141414;
  }
}
